{% extends 'base.html.twig' %}

{% block title %}Hello FournisseurController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form(form) }}
    <button type="submit">AJouter</button>
    {{ form_end(form) }}
{% endblock %}
