{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="submit">Sauvegarder</button>
    {{ form_end(form) }}
{% endblock %}
